body {
  line-height: 1;
}

html {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}

header {
  position: fixed;
  width: 100%;
  border-bottom: solid 1px black;
  background: linear-gradient(yellow,goldenrod);
  z-index: 10;
}

header .content {
  display: flex;
  align-items: center;
  height: 4rem;
}

header .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav ul {
  display:flex;
  padding-right: 1.5rem;
}

nav li {
  padding-left: 1rem;
    font-size: 1.2rem;
}

nav li:hover {
  font-weight: bold;
}

nav a {
  vertical-align: center;
}

header .logo {
  padding-left: 1.5rem;
  height: 3rem;
}

header .mobile {
  display: none;
}

header h4 {
  color: gray;
  font-size: 2rem;
}

header h4 .name {
  color: black;
}

@media only screen and (max-width: 780px) {
  header .content {
    flex-direction: row;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li a {
    padding: 0;
  }

  header .mobile img {
    height: 2.5rem;
  }

  footer .desktop {
    display: none;
  }

}

main-content {
  position: relative;
  top: 4rem;
}

footer {
  position: relative;
  top: 4rem;
  font-size: 1rem;
  padding: 1rem 1.5rem 1rem 1.5rem;

}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-right {
  display: block;
}

.footer-right ul {
  display: flex;
  align-items: center;
}

.footer-right li {
  padding-left: 1rem;
}

.footer-right li:hover {
  font-weight: bold;
}

.section {
  width: 100%;
}

.content {
  display: flex;
  margin: 0;
  padding: 0;
}

.right {
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 60%;
}

.left {
  margin-top: 2rem;
  width: 40%;
}

.banner {
  width: 80%;
}

.card {
  display: flex;
}

.card a {
  color: blue;
}

.card h5 {
  font-size: 1.1rem;
}

.card-left {
  padding: 1rem 1rem;
  width: 35%
}

.card-right {
  padding-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .mobile {
  display: none;
}

.card h5 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}


.reference {
  font-weight: bold;
}

.new-everyday {
  background-color: #696969;
  padding-bottom: 2rem;
}

.new-everyday img {
  display: block;
  max-width: 100%;
}

.new-everyday .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-everyday h1 {
  padding-bottom: 1rem;
}

.new-everyday h3 {
  padding-bottom: 2rem;
}

.button {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: #ddae1c;
  color: black;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.button:hover {
  background-color: #7dbad8;
}

.keep-practicing {
  background-color: #8d7f74;
}

.keep-practicing img {
  display: block;
  max-width: 100%;
}

.keep-practicing .card {
  margin-bottom: .5rem;
}

.keep-practicing .card:hover {
  background-color: #eeeeee;
}

.keep-practicing .right {
  display: flex;
  flex-direction: column;
}

.keep-practicing .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.keep-practicing h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

h5.reference-quote {
  padding-bottom: 1.5rem;
}

h5.reference {
  padding-bottom: 2rem;
}

.start-learning {
  background-color: #b7b9ad;
}

.start-learning .content {
  padding-left: 4.5rem;
  padding-right: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap:   wrap;
  align-content: center;
  justify-content: center;
}

.start-learning .card {
  flex-direction: column;
  background-color: #eeeeee;
  margin-right: 2rem;
  margin-bottom: 2rem;
  max-width: 30%
}

.start-learning .card:hover {
  background-color: #7dbad8;
}

.start-learning .card-bottom {
  padding: 1rem 1rem 1.5rem 1rem;
}

.start-learning h5.course {
  font-family: "Share Tech Mono", monospace;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.start-learning img {
  display: block;
  height: auto;
  max-width: 100%;
}

.start-learning h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.thesis-exhibit .right {
  margin-top: 0;
}

.thesis-exhibit .left {
  margin-top: 0;
}

.thesis-exhibit img {
  display: block;
  max-width: 100%;
}

.thesis-exhibit .vdo {
  display: block;
  max-width: 100%;
  height: auto;
}

.thesis-exhibit .right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.thesis-exhibit .card {
  background-color: #eeeeee;
  margin-bottom: .5rem;
}

.thesis-exhibit .card:hover {
  background-color: #7dbad8;
}

.thesis-exhibit .left {
  display: flex;
  flex-direction: column;
}

.thesis-exhibit h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.thesis-exhibit h2 {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.thesis-exhibit h5 {
  padding-bottom: 2rem;
}

.vdo-container {
  position: relative;
}

#playVid {
  display: inline-block;
  position: absolute;
  left: 45%;
  bottom: 35%;
}

#playVid {
  color: lightsteelblue;
}

@media only screen and (max-width: 780px) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  .section {
    padding: 0;
  }

  .content {
    margin: 0;
    flex-direction: column;
  }

  .left {
    margin: 0;
  }

  .new-everyday .right {
    margin: 0;
    width: 100%;
  }

  .new-everyday .left {
    width: 100%;
  }

  .banner {
    padding: 2rem 1rem 2rem 1rem;
    width: auto;
  }

  .new-everyday h1 {
    padding-bottom: 2rem;
  }

  .new-everyday h3 {
    padding-bottom: 1.5rem;
  }

  .keep-practicing .right {
     display: none;
  }

  .keep-practicing .left {
   width: 100%;
  }

  .keep-practicing img {
   display: block;
   width: 100%;
  }

 .keep-practicing .card-right {
     margin-left: 1rem;
  }

 .start-learning {
      padding-top: 2rem;
      padding-bottom: 2rem;
  }

  .start-learning h1 {
     font-size: 4rem;
     padding: 0;
     padding-bottom: 1rem;
  }

  .start-learning .content {
     margin: 0;
     padding: 0;
     flex-direction: column;
     width: 100%;
  }

  .start-learning .card {
     margin: 0 1rem .5rem 1rem;
     padding: 0;
     background-color: #b7b9ad;
     max-width: 100%;
  }

  .start-learning .card:hover {
    background-color: #b7b9ad;
  }

  .start-learning .card-top {
     display: none;
  }

  .start-learning .card-bottom {
      padding: 1.5rem 1rem 1.5rem 3rem;
      justify-content: center;
      background-color: #ebcf11;
      border-radius: 10% / 30%;
  }

  .start-learning .card-bottom:hover {
    background-color: #7dbad8;
  }

  .start-learning h5 {
     display: none;
  }

  .thesis-exhibit {
    background-color: white;
    padding-bottom: 1.5rem;
  }

  .thesis-exhibit h1 {
     font-size: 4rem;
     padding-bottom: 1rem;
  }

  .thesis-exhibit .right {
     margin: 0;
     width: 100%;
  }

  .thesis-exhibit h2, .thesis-exhibit h5 {
     display: none;
  }

  .thesis-exhibit .left {
     display: none;
  }

  .card {
     flex-direction: column;
     padding: 1rem 1rem 2rem 1rem;
  }

  .card h5 {
     font-size: 1.5rem;
     padding-top: .75rem;
     padding-bottom: .75rem;
  }

  .card a {
     font-size: 1.5rem;
     color: blue;
  }

  .card .desktop {
     display: none;
  }

  .card .mobile {
     display: block;
  }

  .card-left {
    padding: 0;
    width: 100%;
  }

  .card-right {
    padding: 0;
    padding-top: 2rem;
    width: 100%;
  }
}
