body {
  line-height: 1;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.1;
}

header {
  position: fixed;
  width: 100%;
  border-bottom: solid 1px black;
  background-color: white;
  z-index: 10;
}

header .content {
  display: flex;
  align-items: center;
  height: 4rem;
}

header .desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav ul {
  display:flex;
  padding-right: 1.5rem;
}

nav li {
  padding-left: 1rem;
    font-size: 1.2rem;
}

nav a {
  vertical-align: center;

}

header .logo {
  padding-left: 1.5rem;
  height: 3rem;
}

header .mobile {
  display: none;
}

header h4 {
  color: gray;
  font-size: 2rem;
}

header h4 .name {
  color: black;
}

@media only screen and (max-width: 760px) {
  header .content {
    flex-direction: row;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li a {
    padding: 0;
  }

  header .mobile img {
    height: 2.5rem;
  }

}

main-content {
  position: relative;
  top: 4rem;
}


.section {
  width: 100%;
  padding-bottom: 2rem;
  background-color: gray;
}

.content {
  display: flex;
  margin: 0;
  padding: 0;
}

.right {
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 60%;
  background-color: pink;
}

.left {
  margin-top: 2rem;
  width: 40%;
  background-color: lightblue;
}

.banner {
  width: 80%;
}

.card {
  display: flex;
}

.card-left {
  padding: 1rem 1rem;
  width: 35%
}

.card-right {
  padding-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .mobile {
  display: none;
}

.card h5 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}


.reference {
  font-weight: bold;
}

.new-everyday img {
  display: block;
  max-width: 100%;
}

.new-everyday .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-everyday h1 {
  padding-bottom: 1rem;
}

.new-everyday h3 {
  padding-bottom: 2rem;
}

.button {
  border-radius: 4px;
  background-color: brown;
  color: white;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.keep-practicing img {
  display: block;
  max-width: 100%;
}

.keep-practicing .right {
  display: flex;
  flex-direction: column;
}

.keep-practicing .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keep-practicing h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

h5.reference-quote {
  padding-bottom: 1.5rem;
}

h5.reference {
  padding-bottom: 2rem;
}

.start-learning {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.start-learning .card {
  flex-direction: column;
  background-color: white;
  margin-right: 2rem;
}

.start-learning .card-bottom {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
}

.start-learning h5.course {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.start-learning img {
  display: block;
  height: auto;
  max-width: 100%;
}

.start-learning h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.thesis-exhibit img {
  display: block;
  max-width: 100%;
}

.thesis-exhibit .vdo {
  display: block;
  max-width: 100%;
  height: auto;
}

.thesis-exhibit .right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.thesis-exhibit .left {
  display: flex;
  flex-direction: column;
}

.thesis-exhibit h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.thesis-exhibit h2 {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.thesis-exhibit h5 {
  padding-bottom: 2rem;
}

@media only screen and (max-width: 760px) {
  .content {
    flex-direction: column;
  }

  .new-everyday .right {
    margin: 0;
    width: 100%;
  }

  .new-everyday .left {
    width: 100%;
  }

  .banner {
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
  }

  .new-everyday h1 {
    padding-bottom: 2rem;
  }

  .new-everyday h3 {
    padding-bottom: 1.5rem;
  }

   .keep-practicing .right {
     display: none;
   }

   .keep-practicing .left {
     width: 100%;
   }

   .thesis-exhibit h1 {
     padding-bottom: 1rem;
   }

   .thesis-exhibit .right {
     margin: 0;
     width: 100%;
   }

   .thesis-exhibit h2, h5 {
     display: none;
   }

   .thesis-exhibit .left {
     display: none;
   }

   .card {
     flex-direction: column;
     padding: 1rem 1rem 2rem 1rem;
   }

   .card .desktop {
     display: none;
   }

   .card .mobile {
     display: block;
   }

  .card-left {
    padding: 0;
    width: 100%;
  }

  .card-right {
    padding: 0;
    padding-top: 2rem;
    width: 100%;
  }
}
